{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Configuración{% endblock %}
{% block css %}
<style>
#container {
    width: 200px;
    height: 200px;
    display: inline-block;
}
.glyphicon {
    font-size: 110px;
}
</style>
{% endblock %}

{% block list %}
<div class="col-lg-12">

 

</div>
{% endblock %}

