{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{% endblock %}
{% block css %}{% endblock %}
{% block javascript %}{% endblock %}
{% block buttons %}
 <div id="panel-buttons">
    <div id="list-form">
        <p>
          <a href=""><button type="button" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-list"></span></button></a>
        </p>
    </div>
    <div id="buttons">
        <p>
            <a href="{% url 'createautotest' %}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Crear</button></a>
        </p>
    </div>
</div>
{% endblock %}

{% block list %}
<div class="col-lg-12">
      <div class="table-responsive">
          <table class="table table-hover table-striped">
              <thead>
                  <tr>
                      <th>Id</th>
                      <th>Auto</th>

                  </tr>
        
              </thead>
              <tbody>
               {% if object_list %}
                  {% for campo in object_list %}
                     <tr>
                        <td><a href="">{{campo.pk}}</a></td>
                        <td><a href="">{{campo.auto_name}}</a></td>

                        <td><a href="{% url 'createautotest' %}"><button type="button" class="btn btn-sm btn-success"><span>update</span></button></a></td>
                     </tr>
                  {% endfor %}
               {% else %}
                   <h3></h3>
               {% endif %}
              </tbody>
          </table>
      </div>
  </div>
{% endblock %}
</div>


{% block form %}

{% endblock %}
