{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Actualizar{% endblock %}
{% block css %}{% endblock %}
{% block javascript %}{% endblock %}
{% block bottons %}
 <div id="panel-buttons">
    <div id="list-form">
        <p>
        <a href=""><button type="button" class="btn btn-sm btn-default"><span class="glyphicon glyphicon-list"></span></button></a>
        </p>
    </div>
    <div id="buttons">
         <p>
            <a href=""><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Crear</button></a>
            <a href="{% url 'delete_department' department.pk %}"><button type="button" class="btn btn-danger">Eliminar</button></a>
         </p>
    </div>
</div>
{% endblock %}
{% block list %}
{% endblock %}
{% block form %}
<div id="container">
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>
</div>
{% endblock %}
