{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "circon/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "circon/css/bootstrap.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "circon/css/sb-admin.css" %}" rel="stylesheet">
    <link href="{% static "circon/css/style.css" %}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{% static "circon/css/plugins/morris.css" %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static "circon/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    {% block css %}

    {% endblock %}
</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                   <li>
                        <a href="{% url 'listauto' %}">Registrar Auto</a>
                    </li>

                     <li>
                        <a href="{% url 'listautotest' %}">Probar Auto</a>
                    </li>

                     <li>
                        <a href="{% url 'listuniquetest' %}">Registrar Pruebas</a>
                    </li>
                    <li>
                        <a href="{% url 'listvalores' %}">Registrar Valores</a>
                    </li>
           
                </ul>


            </div>


            <!-- /.navbar-collapse -->
        </nav>
        {% block buttons %}

        {% endblock %}
        {% block list %}

        {% endblock %}
        <div id="page-wrapper">
        {% block form %}

        {% endblock %}

        </div>


    </div>

    <script src="{% static "circon/js/jquery.js" %}"></script>
    <script src="{% static "circon/js/jquery-1.11.3.min.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "circon/js/bootstrap.min.js" %}"></script>
    <script src="{% static "circon/js/bootstrap.js" %}"></script>

    <script src="{% static "circon/js/bootstrap-datetimepicker.js" %}"></script>
    <script src="{% static "circon/js/bootstrap-datetimepicker.es.js" %}"></script>

    <script src="{% static "circon/js/plugins/morris/raphael.min.js" %}"></script>
    <script src="{% static "circon/js/plugins/morris/morris.min.js" %}"></script>
    <script src="{% static "circon/js/plugins/morris/morris-data.js" %}"></script>


</body>

</html>
